adafruit_amg88xx==1.4.3
aiocontextvars==0.2.2
aiohttp==3.9.3
AppKit==0.2.8
array_api_strict==1.1.1
asgiref==3.8.1
async_timeout==4.0.3
attr==0.3.2
BeautifulSoup==3.2.2
beautifulsoup4==4.12.3
bjoern==3.2.2
bllipparser==2021.11.7
boto==2.49.0
Brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
cairosvg==2.7.1
Cheetah==2.4.4
cheroot==10.0.0
cherrypy==18.9.0
ConfigParser==6.0.1
contextlib2==21.6.0
cryptography==42.0.5
curio==1.6
Cython==3.0.10
Dialog==0.2.0
diesel==3.0.24
dis3==0.1.3
disco==1.40.4
distributed==2024.4.1
dl==0.1.0
docutils==0.20.1
eventlet==0.36.1
exceptiongroup==1.2.0
filelock==3.13.3
flup==1.0.3
Foundation==0.1.0a0.dev1
genapi==0.0.8
Geometry3D==0.2.4
Geometry3D==0.2.4
gevent==24.2.1
gunicorn==21.2.0
h2==4.1.0
hid==1.0.6
html5lib==1.1
HTMLParser==0.0.2
httptools==0.6.1
hypothesis==6.100.0
ipython==8.12.3
ipywidgets==8.1.2
itsdangerous==2.1.2
jieba==0.42.1
jnius==1.1.0
jupyter_core==5.7.2
keyboard==0.13.5
keyring==25.1.0
kivy==2.3.0
line_profiler==4.1.2
lxml_html_clean==0.1.0
lz4==4.3.3
macholib==1.16.3
Mako==1.3.2
matplotlib==3.8.4
MAVProxy==1.8.70
mavsdk==2.2.0
mdit_plain==1.0.1
mdit_py_plugins==0.4.0
meinheld==1.0.2
memory_profiler==0.61.0
mock==5.1.0
mpld3==0.5.10
mpmath==1.3.0
mtrand==0.1
mypy==1.9.0
networkx==3.2.1
norm==1.6.0
nose==1.3.7
numarray==1.5.1
Numeric==24.2
outcome==1.3.0.post0
pandas==2.2.1
PasteScript==3.5.1
pickle5==0.0.12
Pillow==10.3.0
pip_api==0.0.33
pipreqs==0.5.0
pooch==1.8.1
protobuf==5.26.1
psutil==5.9.8
pupil_pthreads_win==2
py==1.11.0
pycares==4.4.0
pycparser==2.21
pycurl==7.45.3
pyenchant==3.2.2
pygame==2.5.2
pygraphviz==1.12
pyinotify==0.9.6
pylama==8.4.1
pylsl==1.16.2
pymap3d==3.1.0
pyodide==0.0.2
pyOpenSSL==24.1.0
pypemicro==0.1.11
PyQt5==5.15.10
PySide2==5.15.2.1
pystick==0.1.6
pytest==8.1.1
pytest_timeout==2.3.1
python-dotenv==1.0.1
python-socketio==5.11.2
python_crfsuite==0.9.10
pytidylib==0.3.2
pytz==2024.1
pyusb==1.2.1
pywin32==306
pyzed==1.3.0
railroad==0.5.0
redis==5.0.3
requirementslib==3.0.0
rocket==1.2.8
scikit_learn==1.4.0
scikits.talkbox==0.2.5
setuptools_scm==8.0.4
simplejson==3.19.2
simplekml==1.3.6
slack_sdk==3.27.1
Sphinx==7.2.6
svgling==0.4.0
sympy==1.12
tensorflow==2.16.1
testsuite==0.1.3
thread==1.1.1
threadpoolctl==3.4.0
tinyaes==1.1.0
tokenize_rt==5.2.0
traitlets==5.14.2
transforms3d==0.4.1
trio==0.23.2
trove_classifiers==2024.3.25
twython==3.9.1
typed_ast==1.5.5
unittest2==1.1.0
urllib3_secure_extra==0.1.0
viztracer==0.16.2
waitress==3.0.0
watchfiles==0.21.0
watchgod==0.8.2
wcwidth==0.2.13
xmlrpclib==1.0.1
yappi==1.6.0
zope==5.9
zstandard==0.22.0
